# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=6c55a2dd15595aa3517d05e7537cd7896fdfd7739ad9cc59d0b72e2cc82176ecde8cc4dc6b18db3462fc4888272fd9e93547ff054fe1cc5cb1da9d6fd1d9a4d2
REDIS_URL=redis://localhost:6379/12
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
